<ion-header>
  <ion-toolbar>
    <ion-title>Editar Persona</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding style="text-align: center">
  <ion-list>
    <ion-item>
      <ion-label position="floating">ID</ion-label>
      <ion-input disabled type="text" [(ngModel)]="id" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input type="text" [(ngModel)]="name" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Segundo Nombre</ion-label>
      <ion-input type="text" [(ngModel)]="seconame" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Apellido</ion-label>
      <ion-input type="text" [(ngModel)]="lastname" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Segundo Apellido</ion-label>
      <ion-input type="text" [(ngModel)]="lastseconame" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Sexo</ion-label>
      <ion-select type="text" name="sexo" #sexo="ngModel" [(ngModel)]="persona.sexo" required>
        <ion-select-option value="MASCULINO">Masculino</ion-select-option>
        <ion-select-option value="FEMENINO">Femenino</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Estado</ion-label>
      <ion-select type="text" [(ngModel)]="estado" required>
        <ion-select-option *ngFor="let estado of estados">{{estado.name}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Fecha de nacimiento</ion-label>
      <ion-datetime cancelText="Cancelar" doneText="Insertar" displayFormat="YYYY-MM-DD" min="1950-03-14"
        max="2019-12-09" name="nacimiento" [(ngModel)]="nacimiento" required>
      </ion-datetime>
    </ion-item>
  </ion-list>
  <br>
  <ion-button (click)="editPersona(persona.id)" color="success">Guardar</ion-button>
  <ion-button (click)="dismiss()" color="danger">Cancelar</ion-button>

</ion-content>